* {
    box-sizing: border-box;
    color: #212121;
    font-family: 'Barlow';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0e0e0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

h1 small {
    font-size: 2rem;
    margin-left: 16px;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

h6 {
    font-size: 1.125rem;
    font-weight: 300;
}

p {
    font-size: 0.9375rem;
}


/** HEADER **/

.app-header {
    align-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    line-height: 64px;
    padding: 0px 32px;
}

.app-logo {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
    line-height: inherit;
    padding: 0px 32px;
}

.logo-text {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.menu-bar {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
    line-height: inherit;
    padding: 0px 16px;
}

.menu-item {
    color: rgba(0, 0, 0, .54);
    font-size: 0.875rem;
    padding: 0px 16px;
    text-decoration: none;
}

.menu-item:hover {
    color: rgba(0, 0, 0, .87)
}


/** APP **/

.main {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 96px;
    width: 100%;
}

.main-title {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 32px;
    width: 100%;
}

.main-title * {
    color: #ffffff;
}

.card {
    align-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    width: 100%;
}

@media only screen and (max-width: 850px) {
    .app-header {
        flex-direction: column;
        height: auto;
    }
    .app-logo {
        flex-direction: row;
    }
    .main {
        padding: 32px;
    }
    .main-title {
        align-items: flex-start;
        flex-direction: column;
    }
    h1 small {
        margin-left: 0;
    }
    .card {
        padding: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .app-header {
        padding: 0px 8px;
    }
    .app-logo {
        padding: 0px 8px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1.125rem;
    }
    h1 small {
        font-size: 1.5rem;
        margin: 0;
    }
    .main-title {
        margin-bottom: 8px;
    }
    .menu-bar {
        flex-direction: column;
        display: none;
    }
    .menu-item {
        width: 100%;
    }
    .main {
        padding: 32px;
    }
}